<div class="survey-component-container">
<h3>Demographics <i class="fa fa-check survey"></i></h3>
<br/>
<ul>
    <li>Gender: <%= @demographic.gender %> </li>
    <li>Year of birth: <%= @demographic.year_of_birth %> </li>
</ul>
</div>
