<h2>Search product by SKU</h2>
<h4>
    SKU is at least 7 digits
</h4>

<%= f = form_for @changeset, "#",
  id: "search1-form",
  phx_change: "validate"

  %>

<%= label f, :sku %>
<%= text_input f, :sku %>
<%= error_tag f, :sku %>


<%= label f, :sku %>
<%= text_input f, :sku , phx_debounce: "blur"%>
<%= error_tag f, :sku %>


</form>
